{{template "header.tmpl"}}

<div class="container">
  <div class="alert alert-danger">
    <strong>Delete</strong>
    <em>{{.Entry.Title}}</em>
  </div>

  <form action="/entries/{{.Entry.ID}}/delete" method="POST">
    {{.CsrfField}}
    <button class="btn btn-danger" type="submit">Confirm and delete</button>
    or <a href="/entries/{{.Entry.ID}}">go back to entry details</a>.
  </form>
</div>
