{{template "header.tmpl"}}


<div class="container">
  {{template "flash_messages.tmpl" .FlashMessages}}

  <div>
      <a class="btn btn-default" href="/entries/create">Write new blog entry</a>

      <div class="pull-right">
        {{if .User.Authenticated}}
          Hello <strong>{{.User.Name}}</strong>,
          would you like to <a href="/logout">logout</a>?
        {{else}}
          Good day sir! Would you wish to <a href="/login">login</a>?
        {{end}}
      </div>
  </div>

  <hr>

  {{range .Entries}}
    <article>
      <h2>
        {{.Title}}
        <small>{{.Created.Format "Mon, Jan 2 15:04"}}</small>
      </h2>
      <p>{{.ContentSummary}}</p>
      <p><a href="/entries/{{.ID}}">Read more</a></p>
    </article>
  {{else}}
      <div class="alert alert-warning">
        <strong>No entries.</strong> Create <a href="/entries/create">new blog entry</a>.
      </div>
  {{end}}
</div>
