{{template "header.tmpl"}}


<div class="container">
  {{template "flash_messages.tmpl" .FlashMessages}}

  <div>
      <a class="btn btn-default" href="/entries/create">Write new blog entry</a>
  </div>

  <hr>

  {{range .Entries}}
    <article>
      <h2>
        {{.Title}}
        <small>{{.Created.Format "Mon, Jan 2 15:04"}}</small>
      </h2>
      <p>{{.ContentSummary}}</p>
      <p><a href="/entries/{{.ID}}">Read more</a></p>
    </article>
  {{else}}
      <div class="alert alert-warning">
        <strong>No entries.</strong> Create <a href="/entries/create">new blog entry</a>.
      </div>
  {{end}}
</div>
