{{template "header.tmpl"}}


<div class="container">
  {{template "flash_messages.tmpl" .FlashMessages}}

  <article>
    <h1>
      {{.Entry.Title}}
      <small>{{.Entry.Created.Format "Mon, Jan 2 15:04"}}</small>
    </h1>
    <p>{{.Entry.Content}}</p>
  </article>

  <hr>
  <a href="/">Go back to listing</a> or
  <a href="/entries/{{.Entry.ID}}/delete">delete this entry</a>.
</div>
